/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Set the font family and some other styles for the body */
body {
  font-family: cursive;
  overflow-y: scroll; /* Show scrollbar only when needed */
  position: relative;
  min-height: 100vh;
  margin-bottom: 61px; /* Add some space at the bottom for a fixed footer */
}

/* Remove underline from all links */
a {
  text-decoration: none;
}
/* Remove bullets from all list items */
li {
  list-style: none;
}

/* NAVBAR STYLING */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(0, 0, 0);
  color: #fff;
  margin-top: 100px;
}

/* Set the color of all elements inside .nav-links to white */
.nav-links a {
  color: #fff;
}

/* LOGO */
.logo {
  position: flex;
  margin: 40px 40px 40px 90px;
  right: 0;
  display: inline;
  font-size: 32px;
}

/* NAVBAR MENU */
.menu {
  right: 0;
  display: flex;
  gap: 1em;
  font-size: 18px;
}

/* Style for menu list items on hover */
.menu li:hover {
  background-color: #000000;
  border-radius: 5px;
  transition: 0.3s ease;
  background-color: #323333;
}

.menu li {
  padding: 5px 14px;
}

/* DROPDOWN MENU */
.inspiration {
  position: relative;
}

/*DROPDOWN MENU STYLING AND POSITIONING*/
.dropdown {
  background-color: rgb(0, 0, 0);
  padding: 1em 0;
  position: absolute;
  display: none;
  border-radius: 8px;
  top: 35px;
}

/* Add margin to the top of list items that immediately follow another list item */
.dropdown li + li {
  margin-top: 10px;
}

/* Style for dropdown list items */
.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}

/* Style for dropdown list items on hover */
.dropdown li:hover {
  background-color: #323333;
}

/* Display the dropdown list when the .inspiration element is hovered */
.inspiration:hover .dropdown {
  display: block;
}

/*Sets the position of the Avatar and the styling for img*/
img {
  display: flex;
  margin-left: 100px;
  margin-bottom: 10px;
  max-width: 60px;
  height: auto;
  float: top;
  object-fit: cover;
  height: 100%;
  border: 2px solid red;
}

/*Styles the Google Maps*/
iframe {
  margin-top: 10px;
  height: 250px;
  width: 250px;
}

/* Style for the info card on the first page */
.info-card {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  margin-left: 40%;
}

/* Font and positioning of the text inside the card */
.info-card h2 {
  font-size: 1.2rem;
  margin-top: 0;
}

/* Fontsize and positioning of the text inside the card */
.info-card p {
  font-size: 1rem;
  margin-bottom: 10px;
}

/* Style for the info card link */
.info-card a {
  color: #007bff;
  display: block;
  font-size: 0.9rem;
  text-align: right;
  text-decoration: none;
}

/* Center the heading inside a div */
div h2 {
  text-align: center;
}

/* Center the text inside a div */
div p {
  text-align: center;
}

/* Centers the element horizontally */
.center {
  text-align: center;
}

/* Style for ordered list */
ol {
  list-style-type: decimal;
  margin: 20px 0;
  padding: 0 0 0 30px;
}

/* Sets 10px from the bottom for the list */
li {
  margin-bottom: 10px;
}

/*Makes the links blue*/
a {
  color: #0077cc;
  text-decoration: none;
}

/*Style for links on hover*/
a:hover {
  text-decoration: underline;
}

/*Style for the h1 heading*/
h1 {
  color: blue;
  text-align: center;
  font-family: Arial;
}

/*Style for the h2 heading*/
h2 {
  color: rgb(45, 126, 29);
  font-family: "Times New Roman", Times, serif;
}

/*Style for the p heading*/
p {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* Style for the footer icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Adds a hover effect */
.fa:hover {
  opacity: 0.7;
}

/* Sets a specific color for each brand */
/* Facebook */
.fa-facebook {
  background: #3b5998;
  color: white;
}

/* Instagram */
.fa-instagram {
  background: #125688;
  color: white;
}
/* Footer at the bottom */
footer {
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #333;
  color: #fff;
  padding: 20px;
}
